body {
    background-color: #E0E9ED;
}

.seperator {
    background-image: url('../img/seperator.PNG');
    height: 26px;
    background-repeat: repeat-x;
}

@media (max-width:767px) {
    .col-xs-12 {
        width: 50% !important;
    }
}

@media (max-width:500px) {
    .col-xs-12 {
        width: 100% !important;
    }
}

.border-top {
    border-top: 1px solid #222;
    padding-top: 10px;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-sapce-between {
    justify-content: space-between;
}

.btn-default {
    font-size: 12px;
    border-radius: 20px;
    font-weight: 600;
    border-color: #009688 !important;
}

.title {
    background-color: #009688;
    margin-bottom: 10px;
    padding: 10px 10px 15px;
    color: #fff;
    font-family: MehdiHeydari !important;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    

    @media (min-width:768px) {
        & {
            margin-left: -15px;
        }
    }
}

@media (min-width:768px) {
    .p-r-sm-0 {
        padding-right: 0;
    }

    .p-l-sm-0 {
        padding-left: 0px;
    }
}

.page {
    height: 40px;
    font-size: 12px;
    border-radius: 20px;   
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section {

    padding: 20px 0;
 
    .section__title {
        font-size: 20px;
        font-family: MehdiHeydari !important;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 15px;
    } 
    
    .section__desc {
        font-size: 12px;
        color: #555;
        font-weight: 600;
    }
}

hr {
    border-top: 1px solid #999;
    margin: 20px -15px;
}

audio  {
    width: 100%;
    margin-top: 10px;
}

video {
    width: 100%;
}