body {
    background-color: #E0E9ED;
}

.seperator {
    background-image: url('../img/seperator.PNG');
    height: 26px;
    background-repeat: repeat-x;
}

@media (max-width:767px) {    
    .col-xs-12 {
        width: 50% !important;
    }
}

@media (max-width:500px) {    
    .col-xs-12 {
        width: 100% !important;
    }
}
